* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    line-height: 1.4;
}
a {
    text-decoration: none;
    font-size: 20px;
    color: red;
    border: 1px solid black;
}